<app-header (searchChange)="onSearchChange($event)" (logoClick)="onLogoClick()"></app-header>

<div class="pokemon-list-container">
  <div *ngIf="loading()" class="pokemon-grid">
    <div *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" class="pokemon-card-skeleton">
      <div class="skeleton-header"></div>
      <div class="skeleton-image"></div>
      <div class="skeleton-types">
        <div class="skeleton-type"></div>
        <div class="skeleton-type"></div>
      </div>
      <div class="skeleton-stats">
        <div class="skeleton-stat"></div>
        <div class="skeleton-stat"></div>
      </div>
    </div>
  </div>

  <div *ngIf="error()" class="error">
    <p>{{ error() }}</p>
    <button (click)="loadPokemons(currentPage())">Tentar novamente</button>
  </div>

  <div class="pokemon-filters">
<button [class.active]="activeType === ''" (click)="filterByType('')">Todos</button>    
    <button
      *ngFor="let type of pokemonTypes"
      [class.active]="activeType === type"
      (click)="filterByType(type)"
    >
      {{ type | titlecase }}
    </button>
  </div>

  <div *ngIf="loading()" class="pokemon-grid">
    <div *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" class="pokemon-card-skeleton">
      <div class="skeleton-header"></div>
      <div class="skeleton-image"></div>
      <div class="skeleton-types">
        <div class="skeleton-type"></div>
        <div class="skeleton-type"></div>
      </div>
      <div class="skeleton-stats">
        <div class="skeleton-stat"></div>
        <div class="skeleton-stat"></div>
      </div>
    </div>
  </div>

  <div *ngIf="error()" class="error">
    <p>{{ error() }}</p>
    <button (click)="loadPokemons(currentPage())">Tentar novamente</button>
  </div>

  <div *ngIf="!loading() && !error()" class="pokemon-grid">
    <app-pokemon-card
      *ngFor="let pokemon of filteredPokemons(); trackBy: trackById"
      [pokemon]="pokemon"
    ></app-pokemon-card>
  </div>

  <mat-paginator
    *ngIf="!searchTerm()"
    class="pagination"
    [length]="totalPokemons"
    [pageSize]="pageSize"
    [pageIndex]="currentPage() - 1"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
